# Object files
*.o
*.ko
*.obj
*.elf

# Dumps
*.bin
*.lst

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.hex

# Debug files
*.dSYM/
*.su

# Generated input files
g_*

# IDE files/folders
.vscode/

# Build directories
build_*/
build/

# Temporary files
temp

# Caches
__pycache__/

# Plots
*.png
*.pdf

# Analysis output
output*/
plots/
